img {
  width: 70%;
  height: 70%;
  margin-top: 15%;
}
ion-img {
  width: 20%;
  height: 90%;
}
ion-card-content {
  color: black;
  font: 12px Helvetica;
}
.balance {
  font: 40px Helvetica;
  color: #07AEEF;
}
ion-card {
  border-bottom: 2px solid #07AEEF;
}
.transaction {
  padding: 4%;
  text-align: center;
}
ion-row ion-card {
  border-bottom: 2px solid #FA4A0C;
}
.branch {
  font-size: 17px;
  color: #07AEEF;
}
.transaction ion-icon {
  color: #FA4A0C;
}
.transaction ion-text {
  font: bold 17px Helvetica;
}
ion-menu-button {
  color: #07AEEF;
}

