<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon size="small" name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon size="small" name="time"></ion-icon>
      <ion-label>Transaction</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="commission">
      <ion-icon size="small" name="reorder-four"></ion-icon>
      <ion-label>Commission</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="fees">
      <ion-icon size="small" name="calculator"></ion-icon>
      <ion-label>Frais</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
