<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-buttons>
            <ion-icon [routerLink]="['/tabs/home']" name="home"></ion-icon>
          </ion-buttons>
        </ion-col>
        <ion-col>
          <ion-buttons>
            <ion-img src="../../assets/img/logo.jpeg"></ion-img>
          </ion-buttons>
        </ion-col>
      </ion-row>
      <ng-container *ngIf="role == 'ADMIN'; else elseTemplate">
        <ion-row class="ion-margin-top transaction">
          <ion-segment (ionChange)="segmentChanged($event)">
            <ion-segment-button value="some">
              <ion-row>
                <ion-icon name="time-outline"></ion-icon>
                <ion-label>Mes Transactions</ion-label>
              </ion-row>
            </ion-segment-button>
            <ion-segment-button value="all">
              <ion-row>
                <ion-icon name="time"></ion-icon>
                <ion-label>Toutes</ion-label>
              </ion-row>
            </ion-segment-button>
          </ion-segment>
        </ion-row>
      </ng-container>
      <ng-template #elseTemplate>
        <div class="tabs-toolbar-header">
          <ion-icon name="calculator"></ion-icon>
          Mes transactions
        </div>
        <hr>
      </ng-template>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="segment == 'some'">
    <ion-grid class="filter-grid">
      <ion-row class="filter-row">
        <ion-col>
          <ion-select okText="Ok" cancelText="Annuler" [interfaceOptions]="typeOptions" interface="alert" placeholder="Type">
            <ion-select-option value="deposit">Dépôt</ion-select-option>
            <ion-select-option value="withdrawal">Retrait</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-row class="input-row">
            <ion-label>Du</ion-label>
            <ion-input placeholder="07-06-2020"></ion-input>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row class="input-row">
            <ion-label>Au</ion-label>
            <ion-input placeholder="07-06-2020"></ion-input>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="table-grid">
      <ion-row class="table-row">
        <ion-col>Date<ion-icon name="caret-down"></ion-icon></ion-col>
        <ion-col>Type</ion-col>
        <ion-col>Montant<ion-icon name="caret-down"></ion-icon></ion-col>
      </ion-row>
      <ion-row *ngFor="let t of transactions; index as i" class="table-row">
        <ion-col>{{ t.date }}</ion-col>
        <ion-col>{{ t.type }}</ion-col>
        <ion-col>{{ t.montant }}</ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="total-row">
        <ion-text class="amount-text">
          <ion-text class="total-text">
            Total
          </ion-text>
            15 000 700 000
        </ion-text>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="segment == 'all'">
    <ion-grid class="filter-grid">
      <ion-row class="filter-row">
        <ion-col>
          <ion-select okText="Ok" cancelText="Annuler" [multiple]=true [interfaceOptions]="agentOptions" interface="alert" placeholder="Agent">
            <ion-select-option *ngFor="let a of agents; index as i" value="{{a.id}}"> {{a.firstname}} {{a.lastname}} </ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-select okText="Ok" cancelText="Annuler" [interfaceOptions]="typeOptions" interface="alert" placeholder="Type">
            <ion-select-option value="deposit">Dépôt</ion-select-option>
            <ion-select-option value="withdrawal">Retrait</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-row class="input-row">
            <ion-label>Du</ion-label>
            <ion-input placeholder="07-06-2020"></ion-input>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row class="input-row">
            <ion-label>Au</ion-label>
            <ion-input placeholder="07-06-2020"></ion-input>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="table-grid">
      <ion-row class="table-row">
        <ion-col>Date<ion-icon name="caret-down"></ion-icon></ion-col>
        <ion-col>Agent</ion-col>
        <ion-col>Type</ion-col>
        <ion-col>Montant<ion-icon name="caret-down"></ion-icon></ion-col>
        <ion-col>Frais<ion-icon name="caret-down"></ion-icon></ion-col>
      </ion-row>
      <ion-row *ngFor="let t of transactions; index as i" class="table-row">
        <ion-col>{{ t.date }}</ion-col>
        <ion-col>{{ t.agent }}</ion-col>
        <ion-col>{{ t.type }}</ion-col>
        <ion-col>{{ t.montant }}</ion-col>
        <ion-col>{{ t.frais }}</ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row class="total-row">
        <ion-text class="amount-text">
          <ion-text class="total-text">
            Total
          </ion-text>
            15 000 700 000
        </ion-text>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
