<ion-header>
  <ion-toolbar mode="ios">
    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-icon [routerLink]="['/tabs/desktop']" name="home"></ion-icon>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-img src="../../assets/img/logo.jpeg"></ion-img>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <div class="tabs-toolbar-header">
      <ion-icon name="calculator"></ion-icon>
      Mes Commissions
    </div>
    <hr>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
