ion-content {
  --ion-background-color: #e5e5e5;
}
ion-img {
  width: 20%;
  height: 90%;
  margin-left: -10%;
}
hr {
  width: 30%;
  border-top: 2.4px solid #07aeef;
  margin-bottom: -1%;
  border-radius: 40px;
  font-family: Helvetica;
  line-height: 21px;
}
ion-icon {
  color: #07aeef;
}
ion-grid {
  font: 11px 'Poppins';
  margin-left: 15%;
  // padding: 6%;
}
