<ion-header>
  <ion-toolbar mode="ios">
    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-icon [routerLink]="['/tabs/desktop']" name="home"></ion-icon>
        </ion-buttons>
      </ion-col>
      <ion-col>
        <ion-buttons>
          <ion-img src="../../assets/img/logo.jpeg"></ion-img>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <div class="tabs-toolbar-header">
      <ion-icon name="calculator"></ion-icon>
      Mes Commissions
    </div>
    <hr>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col><ion-item>
        <ion-label>Default Label</ion-label>
        <ion-input></ion-input>
      </ion-item></ion-col>
      <ion-col>Type</ion-col>
      <ion-col>Montant<ion-icon name="caret-down"></ion-icon></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>Date<ion-icon name="caret-down"></ion-icon></ion-col>
      <ion-col>Type</ion-col>
      <ion-col>Montant<ion-icon name="caret-down"></ion-icon></ion-col>
    </ion-row>
    <ion-row *ngFor="let c of commissions; index as i">
      <ion-col>{{ c.date }}</ion-col>
      <ion-col>{{ c.type }}</ion-col>
      <ion-col>{{ c.montant }}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
